<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scal">
    <link rel="stylesheet" href="style.css">
    <title>忘记密码</title>
</head>
<body>
<section>
    <!背景色>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <!背景圆>
    <div class="circlre" style="--x:0"></div>
    <div class="circlre" style="--x:1"></div>
    <div class="circlre" style="--x:2"></div>
    <!登录框>
    <div class="container">
        <div class="form">
            <h2>忘记密码</h2>
            <form action="http://127.0.0.1:8087/login" method="GET">
                <div class="inputBox">
                    <input type="text" placeholder="用户名">        <div class="circlre" style="--x:3"></div>
                    <div class="circlre" style="--x:4"></div>

                </div>
                <div class="inputBox">
                    <input type="text" placeholder="新密码">
                </div>
                <div class="inputBox">
                    <input type="submit" placeholder="登录">
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>